<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>

</head>
<body>

<!-- Template are wrapped in <script> tags but need to be given
a type other than "text/javascript" -->
<script type="text/template" id="personTemplate">
	<strong><%= name %></strong> (<%= age %>) - <%= occupation %
</script>

<script src="../libraries/underscore-min.js"></script>
<script src="../libraries/jquery-min.js"></script>
<script src="../libraries/backbone-min.js"></script>

<script src="javascript/main.js"></script>

</body>
</html>